apiVersion: v1
kind: Secret
metadata:
  name: cosmo-auth-env
  namespace: "{{ .Release.Namespace }}"
data:
  COOKIE_DOMAIN: "{{ include "cosmo.domain" . | b64enc }}"
  # fetch current secret and get values
  {{- $currentData := (lookup "v1" "Secret" .Release.Namespace "cosmo-auth-env").data | default dict }}
  # currentData={{ $currentData }}
  COOKIE_HASHKEY: {{ (get $currentData "COOKIE_HASHKEY") | default (randAlphaNum 64 | b64enc) | quote }}
  COOKIE_BLOCKKEY: {{ (get $currentData "COOKIE_BLOCKKEY") | default (randAlphaNum 32 | b64enc) | quote }}
  COOKIE_SESSION_NAME: {{ (get $currentData "COOKIE_SESSION_NAME") | default (randAlphaNum 10 | b64enc) | quote }}
  SIGNIN_URL: {{ include "cosmo.dashboard.signinUrl" . | b64enc | quote }}
